@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
.home {
    background-color: rgb(51, 51, 51);
    height: 500px;
    width: 100%;
}

.home-head {
    text-align: center;
    color:rgb(97, 218, 251) ;
    font-size: 70px;
    padding-top: 2%;
}

.home-head-footer {
    text-align: center;
    align-items: center;
    color:white ;
    font-size: 40px;
    padding-top: 2%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }

.room-select {
    font-family: system-ui, serif;
    font-size: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    /* background: #ff6e6c; */
    
}
.room-select:hover {
    border: 2px solid wheat;
    color: wheat;
    cursor: pointer;
}

.link:hover {
    text-decoration:none;
    border: none;
}